{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="{% static 'blog/css/index.css'  %}"/>
    <link rel="stylesheet" href="{% static  'blog/css/content.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/css/footer.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'blog/css/code.css' %}">   #}



</head>
<body>
<div class="header">
    <ul  class="title">
        <li><a href="{% url "post:index" %}">首页</a></li>
        <li><a href="">博客</a></li>
        <li><a href="">教程</a></li>
        <li><a href="">爬虫相关</a></li>
        <li><a href="">公众号</a></li>
        <li><a href="">python学习</a></li>
    </ul>
    <div class="login">
        <a href="">登录</a>
    </div>
</div>
<div class="content">
    <div class="left">
        {% block left %}
    {% endblock left %}
    </div>
<div class="right">
            {% block right %}
    {% endblock right %}
</div>
    <div class="middle">
        {% block content %}

        {% endblock content %}
    </div>
<div class="clear"></div>

{% block page %}

{% endblock page %}
</div>

<div class="footer">
    <ul>
        <li><a href="">Copyright © 2020</a></li>
        <li><a href="">滇ICP备18009362</a></li>
        <li><a href="">联系我</a></li>
    </ul>
</div>

</body>
</html>