{% extends 'blog/base.html' %}
{% block content %}
   <div class="titles">
        <h1>这是测试这是测试这是测试</h1>
       <small>罗华  阅读：4555 时间：89-56-44 55评论</small>
   </div>
    <div class="article">
    <p>如果你有过其它编程背景，或者使用过一些在HTML中直接混入程序代码的语言，
        那么你需要记住，Django的模版系统并不是简单的将Python嵌入到HTML中。</p>
        <p>如果你有过其它编程背景，或者使用过一些在HTML中直接混入程序代码的语言，
        那么你需要记住，Django的模版系统并不是简单的将Python嵌入到HTML中。</p>
        <p>如果你有过其它编程背景，或者使用过一些在HTML中直接混入程序代码的语言，
        那么你需要记住，Django的模版系统并不是简单的将Python嵌入到HTML中。</p>
        <p>如果你有过其它编程背景，或者使用过一些在HTML中直接混入程序代码的语言，
        那么你需要记住，Django的模版系统并不是简单的将Python嵌入到HTML中。</p>
        <p>如果你有过其它编程背景，或者使用过一些在HTML中直接混入程序代码的语言，
        那么你需要记住，Django的模版系统并不是简单的将Python嵌入到HTML中。</p>
    </div>
    <div class="recommend">
        <p>上一篇：这是测试这是测试这是测试</p>
        <p>下一篇：这是测试这是测试这是测试</p>
    </div>
    <div class="comment">
        <form action="">
            <textarea name="" id=""  placeholder="评论"></textarea>
            <input type="submit" class="submits" value="发表"/>
        </form>
        <div class="subcomment">
            <span>刘嘉M_allison</span> <span>2个月前</span> <span>4楼</span>
        <p>那么你需要记住，Django的模版系统并不是简单的将Pyth过一些在HTML中直接混入程序代码的语言，</p>

        </div>
        <div class="subcomment">
            <span>刘嘉M_allison</span> <span>2个月前</span> <span>4楼</span>
        <p>那么你需要记住，Django的模版系统并不是简单的将Pyth过一些在HTML中直接混入程序代码的语言，</p>

        </div>
          <div class="subcomment">
            <span>刘嘉M_allison</span> <span>2个月前</span> <span>4楼</span>
        <p>那么你需要记住，Django的模版系统并不是简单的将Pyth过一些在HTML中直接混入程序代码的语言，</p>

        </div>
    </div>
{% endblock content %}